<div class="form-page">

  <br>
  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="title-input-container">
        <p class="title-input-label">Title</p>
        <span></span>
        <input id="title-input" type="text" [(ngModel)]="title" name="title">
      </div>
      <div class="desciption-input-container">
        <p class="desciption-input-label">Description</p>
        <span class="span-description"></span>
        <input id="description-input" type="text" [(ngModel)]="description" name="description">
      </div>
      <div class="price-input-container">
        <p class="price-input-label">Price</p>
        <span></span>
        <input id="price-input" type="text" [(ngModel)]="price" name="price">
        <div class="" id="radio-price-status">
          <input type="radio" id="fixed-radio" name="fixed" value="fixed" [(ngModel)]="status">
          <label for="fixed-radio">Fixed</label>
          <input type="radio" id="nego-radio" name="nego" value="nego" [(ngModel)]="status">
          <label for="nego-radio">Negotiable</label>
        </div>
      </div>
      <div class="price-input-container">
        <p class="picture-input-label">Pictures</p>
        <span class="span-pictures"></span>
        <div class="picture-input-area" id="picture-container">
          <div *ngFor="let img of selectedPicture">
            <p>{{img.name}}</p>
          </div>
          <!--img *ngIf="selectedPicture" [src]="selectedPicture" [style.width.px]="width" [style.height.px]="height"-->
        </div>
      </div>
      <br>
      <form action="#">
        <input type="file" accept="image/*" (change)="selectPicture($event)">
      </form>
      <br>
      <button type="submit">Save</button>
    </form>
  </div>

</div>


<!--<div class="container">-->
<!--  <h3>New Product</h3>-->
<!--  <form>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputEmail1" class="form-label">Title</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">-->
<!--      <div *ngIf="newProductForm.controls['title'].errors" id="emailHelp" class="form-text">Title is required.</div>-->
<!--    </div>-->

<!--    <div class="mb-3">-->
<!--      <label for="exampleInputEmail2" class="form-label">Description</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" formControlName="description">-->
<!--      <div *ngIf="newProductForm.controls['description'].errors" id="emailHelp1" class="form-text">Description is required.</div>-->
<!--    </div>-->

<!--    <div class="row d-block">-->
<!--      <div class="mb-3 ">-->
<!--        <label for="exampleInputEmail3" class="form-label">Price</label>-->
<!--        <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" formControlName="price">-->
<!--        <div *ngIf="newProductForm.controls['price'].errors" id="emailHelp3" class="form-text">Price is required.</div>-->
<!--      </div>-->
<!--      <div class=" mb-3  ">-->
<!--        <label for="exampleInputEmail5" class="form-label">Status</label>-->
<!--        <select class="form-select " aria-label="Default select example" id="exampleInputEmail5" formControlName="status">-->

<!--          <option value="1">Fixed</option>-->
<!--          <option value="2">Negotiable</option>-->

<!--        </select>-->
<!--      </div>-->

<!--    </div>-->


<!--    <button type="submit" class="btn btn-success mt-4 "  >Submit</button>-->


<!--  </form>-->
<!--</div>-->
